@font-face {
  font-family: Gtw_p_bold;
  src: url("./../font/GTWalsheimPro/GTWalsheimProBold.otf");
}

@font-face {
  font-family: Gtw_p_medium;
  src: url("./../font/GTWalsheimPro/GTWalsheimProMedium.otf");
}

@font-face {
  font-family: Gtw_p_medium_o;
  src: url("./../font/GTWalsheimPro/GTWalsheimProMedium-Oblique.otf");
}

@font-face {
  font-family: Gtw_p_regular;
  src: url("./../font/GTWalsheimPro/GTWalsheimProRegular.otf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 44.46614583333333%;
}

body {
  background-color: #F5F6FA;
}

#login_page {
  background-color: #F5F6FA;
  width: 100%;
  height: 108rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login_page .left {
  width: 72rem;
  height: 100%;
  background-color: #5054eb;
  padding-top: 3rem;
}

#login_page .left .logo {
  width: 35rem;
  padding-left: 4.5rem;
  margin-bottom: 3.5rem;
}

#login_page .left .logo a {
  width: 100%;
}

#login_page .left .logo a img {
  width: 100%;
  height: auto;
}

#login_page .left .line {
  width: 100%;
  height: .1rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 6rem;
}

#login_page .left .bottom {
  padding-left: 4.5rem;
}

#login_page .left .bottom h2 {
  font-family: Gtw_p_bold;
  font-size: 4.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3rem;
  letter-spacing: .15rem;
}

#login_page .left .bottom p {
  max-width: 58rem;
  font-family: Gtw_p_regular;
  font-size: 2.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2.5rem;
  letter-spacing: .15rem;
  line-height: 1.8;
}

#login_page .left .bottom .img_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4.5rem;
}

#login_page .left .bottom .img_wrapper img {
  width: 52rem;
  pointer-events: none;
}

#login_page .left .bottom .bottom_txt {
  font-family: Gtw_p_regular;
  padding-right: 5rem;
  text-align: right;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.45);
}

#login_page .left .bottom .bottom_txt a {
  color: #ffffff;
}

#login_page .right {
  height: 100%;
  width: calc(100% - 72rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5rem;
}

#login_page .right .wrapper {
  width: 100%;
  width: 98rem;
}

#login_page .right .wrapper .main {
  padding: 12rem 0 15rem 6rem;
  background-color: #fff;
  height: 89rem;
  border-radius: 0 0 4rem 4rem;
  -webkit-border-radius: 0 0 4rem 4rem;
  -moz-border-radius: 0 0 4rem 4rem;
  -ms-border-radius: 0 0 4rem 4rem;
  -o-border-radius: 0 0 4rem 4rem;
}

#login_page .right .wrapper .main h2 {
  font-family: Gtw_p_medium;
  color: #000000;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

#login_page .right .wrapper .main h3 {
  font-family: Gtw_p_regular;
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.2rem;
  margin-bottom: 3.5rem;
}

#login_page .right .wrapper .main form#loginForm {
  max-width: 73rem;
}

#login_page .right .wrapper .main form#loginForm .errorEmail,
#login_page .right .wrapper .main form#loginForm .errorPassword {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ff434300;
  margin-top: 1rem;
  padding-right: 2rem;
  font-family: Gtw_p_medium;
  text-align: right;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

#login_page .right .wrapper .main form#loginForm .errorEmail.active,
#login_page .right .wrapper .main form#loginForm .errorPassword.active {
  color: #FF4343;
}

#login_page .right .wrapper .main form#loginForm .email,
#login_page .right .wrapper .main form#loginForm .password {
  height: 13.6rem;
  width: 100%;
  border: 0.15rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

#login_page .right .wrapper .main form#loginForm .email .left,
#login_page .right .wrapper .main form#loginForm .password .left {
  height: 100%;
  width: 10rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  background-color: transparent;
  border: .15rem solid #5054EB;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

#login_page .right .wrapper .main form#loginForm .email .left svg,
#login_page .right .wrapper .main form#loginForm .password .left svg {
  height: 4.8rem;
  width: 4.8rem;
}

#login_page .right .wrapper .main form#loginForm .email .left svg path,
#login_page .right .wrapper .main form#loginForm .password .left svg path {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  fill: #5054EB;
}

#login_page .right .wrapper .main form#loginForm .email .middle,
#login_page .right .wrapper .main form#loginForm .password .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40rem;
  height: 100%;
  padding: .5rem 0;
}

#login_page .right .wrapper .main form#loginForm .email .middle label,
#login_page .right .wrapper .main form#loginForm .password .middle label {
  font-family: Gtw_p_medium;
  font-size: 2.1rem;
  cursor: pointer;
  display: block;
}

#login_page .right .wrapper .main form#loginForm .email .middle input[type=email],
#login_page .right .wrapper .main form#loginForm .password .middle input[type=email] {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Gtw_p_regular;
  border: none;
  outline: none;
  padding-bottom: .5rem;
}

#login_page .right .wrapper .main form#loginForm .email .right,
#login_page .right .wrapper .main form#loginForm .password .right {
  height: 100%;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

#login_page .right .wrapper .main form#loginForm .email .right img,
#login_page .right .wrapper .main form#loginForm .password .right img {
  width: 3.1rem;
  height: 3.1rem;
}

#login_page .right .wrapper .main form#loginForm .email.error {
  border: .15rem solid #FF4343;
}

#login_page .right .wrapper .main form#loginForm .email.noError {
  border: .15rem solid #5054EB;
}

#login_page .right .wrapper .main form#loginForm .email.noError .left {
  background-color: #5054EB;
}

#login_page .right .wrapper .main form#loginForm .email.noError .left svg {
  height: 4.8rem;
  width: 4.8rem;
}

#login_page .right .wrapper .main form#loginForm .email.noError .left svg path {
  fill: #ffffff;
}

#login_page .right .wrapper .main form#loginForm .password {
  margin-top: 3rem;
}

#login_page .right .wrapper .main form#loginForm .password .left svg {
  width: 3.9rem;
  height: 4.6rem;
}

#login_page .right .wrapper .main form#loginForm .password .left svg path {
  fill: #5054EB;
}

#login_page .right .wrapper .main form#loginForm .password .middle label {
  cursor: pointer;
}

#login_page .right .wrapper .main form#loginForm .password .middle input[type=password] {
  font-size: 4.4rem;
  color: gray;
  font-family: Gtw_p_regular;
  border: none;
  outline: none;
  padding-bottom: .5rem;
  height: 3.9rem;
}

#login_page .right .wrapper .main form#loginForm .password.error {
  border: .15rem solid #FF4343;
}

#login_page .right .wrapper .main form#loginForm .password.noError {
  border: .15rem solid #5054EB;
}

#login_page .right .wrapper .main form#loginForm .password.noError .left {
  background-color: #5054EB;
}

#login_page .right .wrapper .main form#loginForm .password.noError .left svg {
  height: 4.8rem;
  width: 4.8rem;
}

#login_page .right .wrapper .main form#loginForm .password.noError .left svg path {
  fill: #ffffff;
}

#login_page .right .wrapper .main form#loginForm .bottom_area {
  margin-top: 6.5rem;
  height: 7.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#login_page .right .wrapper .main form#loginForm .bottom_area .left {
  width: 22.5rem;
  background-color: transparent;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

#login_page .right .wrapper .main form#loginForm .bottom_area .left p {
  font-family: Gtw_p_medium;
  font-size: 2.1rem;
  color: rgba(0, 0, 0, 0.35);
}

#login_page .right .wrapper .main form#loginForm .bottom_area .left a {
  display: inline;
  font-size: 2.1rem;
  font-family: Gtw_p_medium_o;
  color: #5054eb;
}

#login_page .right .wrapper .main form#loginForm .bottom_area button {
  font-family: Gtw_p_bold;
  font-size: 2.4rem;
  color: #ffffff;
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border: none;
  outline: none;
  background-color: #5054eb;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0 2.5rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  #login_page .left {
    display: none;
  }
}

#dashboard .topbar {
  width: 100%;
  height: 12rem;
  background-color: #fff;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

#dashboard .topbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .topbar .left .logo {
  width: 7rem;
  height: 7rem;
  margin-right: 15rem;
}

#dashboard .topbar .left .logo img {
  width: 100%;
  height: auto;
}

#dashboard .topbar .left .searchBox {
  height: 6rem;
  width: 39rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f6fa;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

#dashboard .topbar .left .searchBox img {
  width: 1.83rem;
  height: auto;
  pointer-events: none;
  display: inline-block;
  margin-right: 1.5rem;
}

#dashboard .topbar .left .searchBox input[type=text] {
  color: #7B7B7D;
  font-size: 1.8rem;
  font-family: Gtw_p_regular;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

#dashboard .topbar .left .searchBox input[type=text]:focus {
  outline: none;
  border: none;
}

#dashboard .topbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}

#dashboard .topbar .right .qus {
  height: 100%;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.4rem;
  background-color: #F5F6FA;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#dashboard .topbar .right .qus img {
  width: 2.3rem;
  height: auto;
}

#dashboard .topbar .right .profile {
  height: 100%;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F6FA;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin-right: 2.4rem;
}

#dashboard .topbar .right .profile img {
  width: 2.6rem;
  height: auto;
}

#dashboard .topbar .right .name {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  margin-right: 2.2rem;
}

#dashboard .topbar .right .name h3 {
  font-family: Gtw_p_regular;
  font-size: 2.1rem;
  color: #000000;
}

#dashboard .topbar .right .name p {
  font-family: Gtw_p_regular;
  font-size: 1.4rem;
  color: #6C6865;
}

#dashboard .topbar .right .dotmenu {
  width: 2.3rem;
  height: 5rem;
  cursor: pointer;
}

#dashboard .topbar .right .dotmenu img {
  width: 100%;
  height: 100%;
}

#dashboard .wrapper {
  width: 180rem;
  margin: 0 auto;
}

#dashboard .wrapper .actionBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  margin-bottom: 4rem;
}

#dashboard .wrapper .actionBar .left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Gtw_p_regular;
  font-size: 3rem;
  color: #000000;
}

#dashboard .wrapper .actionBar .left .open {
  margin-right: 8rem;
}

#dashboard .wrapper .actionBar .right {
  width: 39rem;
  height: 8rem;
  background-color: #fff;
  padding: .6rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .wrapper .actionBar .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  color: #000000;
  text-decoration: none;
  font-family: Gtw_p_regular;
  font-size: 2.1rem;
}

#dashboard .wrapper .actionBar .right a.active {
  background-color: #5054eb;
  color: #ffffff;
}

#dashboard .wrapper .table table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-family: Gtw_p_regular;
  padding-bottom: 2rem;
}

#dashboard .wrapper .table table thead {
  font-size: 2.4rem;
  color: #808080;
}

#dashboard .wrapper .table table thead th {
  padding: 3.2rem;
}

#dashboard .wrapper .table table tbody {
  color: #000000;
  font-size: 2.6rem;
}

#dashboard .wrapper .table table tbody tr {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.07);
}

#dashboard .wrapper .table table tbody tr td {
  padding: 1rem;
  padding: 2.8rem 0;
}

#dashboard .wrapper .table table tbody tr td span.box {
  height: 3rem;
  width: 3rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-color: #1BE082;
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */